<div class="container">
  <div class="container pb-5 mb-sm-4">
    <div class="steps">
      <div class="steps-header">
        <div class="progress">
          <div class="progress-bar" role="progressbar" [style.width.%]="(currentStep / 3) * 100"
               [attr.aria-valuenow]="(currentStep / 3) * 100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="steps-body">
        <div class="step" [class.step-completed]="currentStep > TransferSteps.SelectAccount"
             [class.step-active]="currentStep === TransferSteps.SelectAccount">
          <span class="step-icon">1</span>
          Selecionar Conta
        </div>
        <div class="step" [class.step-completed]="currentStep > TransferSteps.EnterAmount"
             [class.step-active]="currentStep === TransferSteps.EnterAmount">
          <span class="step-icon">2</span>
          Inserir Valor
        </div>
        <div class="step" [class.step-completed]="currentStep > TransferSteps.ConfirmDetails"
             [class.step-active]="currentStep === TransferSteps.ConfirmDetails">
          <span class="step-icon">3</span>
          Confirmar Detalhes
        </div>
      </div>
    </div>


    <div *ngIf="currentStep === TransferSteps.SelectAccount">
      <div class="container">
        <div class="card mx-auto my-5" style="max-width: 700px;">
          <div class="card-header">
            <h3 class="card-title">Para qual conta você deseja transferir?</h3>
          </div>
          <div class="card-body" *ngIf="transferForm" [formGroup]="transferForm">
            <form [formGroup]="transferForm" (ngSubmit)="advanceStep()">
              <div class="mb-3">
                <label for="accountNumberDigit" class="form-label"><strong>Número da conta com dígito</strong></label>
                <input type="text" id="accountNumberDigit" class="form-control form-control-lg"
                       formControlName="accountNumberDigit" placeholder="0000-0" mask="0000-0" required>

                <div *ngIf="transferForm.get('accountNumberDigit')?.errors?.['required'] &&
            transferForm.get('accountNumberDigit')?.touched" class="text-danger">
                  Este campo é obrigatório.
                </div>
                <div *ngIf="accountNotFoundError" class="text-danger">
                  Número da conta não encontrado. Por favor, verifique o número informado.
                </div>
              </div>
              <div class="d-grid gap-2">
                <button type="button" class="btn btn-primary"
                        [disabled]="!transferForm.valid || accountNotFoundError"
                        (click)="verificarEAvancar()">
                  Continuar
                </button>
              </div>
            </form>
          </div>
        </div>
        <p class="text-center text-muted">
          Verifique o número da conta para garantir que a transferência seja realizada com sucesso.
        </p>
      </div>
    </div>


    <div *ngIf="currentStep === TransferSteps.EnterAmount">
      <div class="container">
        <div class="card mx-auto my-5" style="max-width: 600px;">
          <div class="card-header">
            <h4 class="card-title">Quanto você quer transferir?</h4>
          </div>
          <div class="card-body">
            <div class="mb-4">
              <i class="bi bi-person-circle"></i> {{ transferenciaData.contaDestino.nome }}<br>
              CPF: {{ transferenciaData.contaDestino.cpf | mask:'000.000.000-00' }}
            </div>
            <div id="central-container" class="d-flex flex-column justify-content-center align-items-center">

              <div id="amount-container" class="amount-container d-flex justify-content-center align-items-center"
                   style="font-size: 48px;">
                <input [(ngModel)]="formattedTransferAmount" (ngModelChange)="onAmountChange($event)"
                       (keydown)="validateNumber($event)" type="text"
                       class="form-control" inputmode="decimal"
                       style="font-size: 48px; border: none; background-color: transparent;"
                       maxlength="18"
                       placeholder="R$ 0,00" autocomplete="off">


              </div>
              <p class="text-muted align-content-center justify-content-center">{{ cliente?.saldo | currency : 'BRL' }}
                disponíveis</p>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="invalidTransferAmount">
              Informe um valor maior que R$ 0,00
            </div>
            <div *ngIf="saldoInsuficienteError" class="alert alert-danger" role="alert">
              Saldo insuficiente para realizar a transferência.
            </div>
            <div class="d-flex justify-content-center">
              <button class="btn btn-secondary" type="button" (click)="retreatStep()">Voltar</button>
              <button type="button" class="btn btn-primary" [disabled]="!transferForm.valid || accountNotFoundError"
                      (click)="verificarValorEAvancar()">
                Continuar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="currentStep === TransferSteps.ConfirmDetails">
    <div class="container">
      <div class="card mx-auto my-5" style="max-width: 700px;">
        <div class="card-header text-center">
          <h4 class="card-title">Confira se está tudo correto</h4>
        </div>
        <div class="card-body">
          <div class="text-center mb-4">
            <div class="mb-2">
              <strong>Transferindo para</strong><br>
              <span>{{ transferenciaData.contaDestino.nome }}</span><br>
              CPF: {{ transferenciaData.contaDestino.cpf |  mask:'000.000.000-00' }}
            </div>
            <i class="bi bi-person-circle h1"></i>

          </div>
          <h2 class="text-center my-4">{{ transferAmount | currency : 'BRL' }}</h2>
          <div class="text-center my-4">
            <p>Transferência para Banco TADS.<br>Número da conta: {{ transferenciaData.contaDestino.numeroConta }}</p>
          </div>
          <div class="d-flex justify-content-center">
            <button class="btn btn-secondary" type="button" (click)="retreatStep()">Voltar</button>
            <button class="btn btn-primary" type="button" (click)="advanceStep()">
              Transferir
              <i class="bi bi-check-circle"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="currentStep === TransferSteps.Done">
    <div class="container">
      <div class="card mx-auto my-5" style="max-width: 600px;">
        <div class="card-header bg-success text-white text-center">
          <h3 class="card-title">Pronto! Transferência realizada</h3>
        </div>
        <div class="card-body text-center">
          <h4 class="my-3">Para {{ transferenciaData.contaDestino.nome }}</h4>
          <p>Banco TADS.</p>
          <p>Data da transferência: {{ transferDate }}</p>
          <div class="amount-box my-4 py-2">
            <h2 class="text-center my-4">{{ transferAmount | currency: 'BRL' }}</h2>
          </div>
          <div class="my-3">
            <i class="bi bi-house-door"></i> <a routerLink="/cliente" class="text-decoration-none">Voltar para o
            início</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #destinatarioModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Informações do Destinatário</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"
            style="position: absolute; right: 1rem; top: 1rem;"></button>

  </div>
  <div class="modal-body text-center">
    <p>Conta associada ao número de conta informado:</p>
    <p><strong>{{ transferenciaData.contaDestino.nome }}</strong></p>
    <p>CPF: {{ transferenciaData.contaDestino.cpf }}</p>
    <p>Número da Conta: {{ transferenciaData.contaDestino.numeroConta }}</p>
  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-primary" (click)="confirmarConta()">Confirmar conta</button>
    <button type="button" class="btn btn-secondary" (click)="escolherOutraConta()">Escolher outra</button>
  </div>
</ng-template>


