<nav class="navbar bg-secondary sticky-top mb-5 p-1" *ngIf="usuario && usuario.perfil ">
  <div class="container-fluid">
    <a class="navbar-brand fs-3" [routerLink]="getUsuarioPerfil()"
       style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color:#ffffff;" >
      <i class="bi bi-bank mx-1"></i>
      BANTADS
    </a>
    <ul *ngIf="usuario.perfil?.includes('CLIENTE') " class="nav gap-3">
      <button *ngIf="!isCurrentRoute('/cliente/editar-perfil')" class="btn btn-outline-light btn-sm" (click)="goAlterarPerfil()">
        Editar Perfil
      </button>
      <button *ngIf="isCurrentRoute('/cliente/editar-perfil')" class="btn btn-outline-light active btn-sm" aria-current="page"
              (click)="goAlterarPerfil()">Editar Perfil
      </button>

      <button *ngIf="!isCurrentRoute('/cliente/depositar')" class="btn btn-outline-light btn-sm" (click)="goDepositar()">Depositar
      </button>
      <button *ngIf="isCurrentRoute('/cliente/depositar')" class="btn btn-outline-light active btn-sm" aria-current="page"
              (click)="goDepositar()">Depositar
      </button>

      <button *ngIf="!isCurrentRoute('/cliente/saque')" class="btn btn-outline-light btn-sm" (click)="goSaque()">Saque</button>
      <button *ngIf="isCurrentRoute('/cliente/saque')" class="btn btn-outline-light active" aria-current="page"
              (click)="goSaque()">Saque
      </button>

      <button *ngIf="!isCurrentRoute('/cliente/transferencia')" class="btn btn-outline-light btn-sm" (click)="goTransferencia()">
        Transferência
      </button>
      <button *ngIf="isCurrentRoute('/cliente/transferencia')" class="btn btn-outline-light active btn-sm" aria-current="page"
              (click)="goTransferencia()">Transferência
      </button>

      <button *ngIf="!isCurrentRoute('/cliente/consulta-extrato')" class="btn btn-outline-light btn-sm"
              (click)="goConsultaExtrato()">Consulta do Extrato
      </button>
      <button *ngIf="isCurrentRoute('/cliente/consulta-extrato')" class="btn btn-outline-light active btn-sm" aria-current="page"
              (click)="goConsultaExtrato()">Consulta do Extrato
      </button>
      <button class="btn btn-danger btn-sm"
              (click)="logout()">Sair
      </button>
    </ul>

    <ul *ngIf="usuario.perfil.includes('GERENTE')" class="nav gap-3">
      <button *ngIf="!isCurrentRoute('/gerente/consultar-cliente')" class="btn btn-outline-light btn-sm"
              (click)="goConsultarCliente()">Consultar Cliente
      </button>
      <button *ngIf="isCurrentRoute('/gerente/consultar-cliente')" class="btn btn-outline-light active btn-sm"
              aria-current="page" (click)="goConsultarCliente()">Consultar Cliente
      </button>

      <button *ngIf="!isCurrentRoute('/gerente/listar-clientes')" class="btn btn-outline-light btn-sm"
              (click)="goListarClientes()">Listar Clientes
      </button>
      <button *ngIf="isCurrentRoute('/gerente/listar-clientes')" class="btn btn-outline-light active btn-sm"
              aria-current="page" (click)="goListarClientes()">Listar Clientes
      </button>

      <button *ngIf="!isCurrentRoute('/gerente/listar-top3-clientes')" class="btn btn-outline-light btn-sm"
              (click)="goListarTop3Clientes()">Top 3 Clientes
      </button>
      <button *ngIf="isCurrentRoute('/gerente/listar-top3-clientes')" class="btn btn-outline-light active btn-sm"
              aria-current="page" (click)="goListarTop3Clientes()">Top 3 Clientes
      </button>
      <button class="btn btn-danger btn-sm"
              (click)="logout()">Sair
      </button>
    </ul>

    <ul *ngIf="usuario.perfil.includes('ADMINISTRADOR')" class="nav gap-3">
      <button *ngIf="!isCurrentRoute('/administrador/relatorio')" class="btn btn-outline-light btn-sm"
              (click)="goRelatorio()">Relatório de Clientes
      </button>
      <button *ngIf="isCurrentRoute('/administrador/relatorio')" class="btn btn-outline-light active btn-sm"
              aria-current="page" (click)="goRelatorio()">Relatório de Clientes
      </button>
      <button *ngIf="!isCurrentRoute('/administrador/listar-gerentes')" class="btn btn-outline-light btn-sm"
              (click)="goListarGerentes()">Listar Gerentes
      </button>
      <button *ngIf="isCurrentRoute('/administrador/listar-gerentes')" class="btn btn-outline-light active btn-sm"
              aria-current="page" (click)="goListarGerentes()">Listar Gerentes
      </button>
      <button *ngIf="!isCurrentRoute('/administrador/inserir-gerente')" class="btn btn-outline-light btn-sm"
              (click)="goInserirGerente()">Inserir Gerente
      </button>
      <button *ngIf="isCurrentRoute('/administrador/inserir-gerente')" class="btn btn-outline-light active btn-sm"
              aria-current="page" (click)="goInserirGerente()">Inserir Gerente
      </button>
      <button class="btn btn-danger btn-sm"
              (click)="logout()">Sair
      </button>
    </ul>
  </div>
</nav>
