<nav class="navbar bg-body-tertiary sticky-top" *ngIf="usuario">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="usuario?.perfil?.includes('CLIENTE') ? '/cliente' : ''"
       style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color:#000000;" >
      <i class="bi bi-bank"></i>
      BANTADS
    </a>
    <ul *ngIf="usuario?.perfil?.includes('CLIENTE') " class="nav hstack gap-4">
      <button *ngIf="!isCurrentRoute('/cliente/editar-perfil')" class="btn btn-outline-dark" (click)="goAlterarPerfil()">
        Alterar Perfil
      </button>
      <button *ngIf="isCurrentRoute('/cliente/editar-perfil')" class="btn btn-outline-dark active" aria-current="page"
              (click)="goAlterarPerfil()">Alterar Perfil
      </button>

      <button *ngIf="!isCurrentRoute('/cliente/depositar')" class="btn btn-outline-dark" (click)="goDepositar()">Depositar
      </button>
      <button *ngIf="isCurrentRoute('/cliente/depositar')" class="btn btn-outline-dark active" aria-current="page"
              (click)="goDepositar()">Depositar
      </button>

      <button *ngIf="!isCurrentRoute('/cliente/saque')" class="btn btn-outline-dark" (click)="goSaque()">Saque</button>
      <button *ngIf="isCurrentRoute('/cliente/saque')" class="btn btn-outline-dark active" aria-current="page"
              (click)="goSaque()">Saque
      </button>

      <button *ngIf="!isCurrentRoute('/cliente/transferencia')" class="btn btn-outline-dark" (click)="goTransferencia()">
        Transferência
      </button>
      <button *ngIf="isCurrentRoute('/cliente/transferencia')" class="btn btn-outline-dark active" aria-current="page"
              (click)="goTransferencia()">Transferência
      </button>

      <button *ngIf="!isCurrentRoute('/cliente/consulta-extrato')" class="btn btn-outline-dark"
              (click)="goConsultaExtrato()">Consulta do Extrato
      </button>
      <button *ngIf="isCurrentRoute('/cliente/consulta-extrato')" class="btn btn-outline-dark active" aria-current="page"
              (click)="goConsultaExtrato()">Consulta do Extrato
      </button>
      <button class="btn btn-outline-danger active" aria-current="page"
              (click)="logout()">Logout
      </button>
    </ul>

    <ul *ngIf="usuario?.perfil?.includes('FUNC')" class="nav hstack gap-4">
          <!--to-do-->
    </ul>
  </div>
</nav>
