<div class="container">
  <div class="card mx-auto my-5" style="max-width: 600px;">
    <div class="card-header bg-success text-white text-center">
      <h3 class="card-title">Pronto! Transferência realizada</h3>
    </div>
    <div class="card-body text-center">
      <h4 class="my-3">Para JOHN DOE</h4>
      <p>Banco TADS.</p>
      <p>Data da transferência: {{ transferDate }}</p>
      <div class="my-3">
        <div class="initials-circle bg-primary text-white mx-auto">
          JD
          <span class="visually-hidden">Confirmado</span>
        </div>
      </div>
      <div class="amount-box my-4 py-2">
        <h1>R$ 100,00</h1>
        <p class="text-muted">s</p>
      </div>
      <div class="my-3">
        <i class="bi bi-house-door"></i> <a routerLink="/cliente"> Voltar para o início</a>
      </div>
      <div class="d-grid">
        <button class="btn btn-primary">Baixar o comprovante</button>
      </div>
    </div>
  </div>
</div>
