.cartao {
  background-color: white; /* Cor de fundo do cartão */
  border: none;
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra suave */
  padding: 40px;
  margin: 20px;
}
.cartao h1, .cartao h2 {
  color: #333; /* Cor de texto */
}
.cartao h1 {
  margin-bottom: 20px; /* Espaçamento abaixo do h1 */
}
