<div class="container">
  <h2 class="mb-3">Clientes com Cadastro Pendente</h2>
  <table class="home-table">
    <thead class="bg-secondary">
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Salário</th>
      <th>Aprovar Cadastro</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cliente of clientesCadastroNegado">
      <td>{{ cliente.nome }}</td>
      <td>{{ cliente.cpf }}</td>
      <td>{{ cliente.salario }}</td>
      <td>
        <button type="submit" class="btn btn-success me-1" (click)="aprovarCadastro(cliente)">Aprovar</button>
        <button type="submit" class="btn btn-danger" (click)="recusarCadastro(cliente)">Recusar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

